<div class="card">
  {{if .RawHTML}}
    {{.RawHTML}}
  {{else}}
    <section>
      {{if .URL}}
      <a href="{{.URL}}">
      {{end}}
        <div class="card-body">
          <div class="{{cardTextSizeFor "body" .Text}}">
            {{markdownString .Text}}
          </div>
        </div>
      {{if .URL}}
      </a>
      {{end}}
      <div class="card-foot">
        <p>
          <time datetime="{{isotime .Published}}">Posted {{humantime .Published}}</time> | {{.Website}}
        </p>
        <p>
          {{range .Tags}}
            <a class="hashtag" href="#">#{{.}}</a>
          {{end}}
        </p>
      </div>
    </section>
  {{end}}
</div>
