<div class="card">
  {{if .RawHTML}}
    {{.RawHTML}}
  {{else}}
    <section>
      <div class="card-body">
        <div class="{{cardTextSizeFor "body" .Text}}">
          {{if .URL}}
          <a href="{{.URL}}">
          {{end}}
          {{markdownString .Text}}
          {{if .URL}}
          </a>
          {{end}}
        </div>
      </div>
      <div class="card-foot">
        <p>
          <time datetime="{{isotime .Published}}">Posted {{humantime .Published}}</time> | {{.Website}}
        </p>
        <p>
          {{range .Tags}}
            <a class="hashtag" href="#">#{{.}}</a>
          {{end}}
        </p>
      </div>
    </section>
  {{end}}
</div>
