<div class="card">
  {{if .RawHTML}}
    {{.RawHTML}}
  {{else}}
    <section>
      <div class="card-body">
        <div class="{{cardTextSizeFor "body" .Text}}">
          {{if .URL}}
          <a href="{{.URL}}">
          {{end}}
          {{markdownString .Text}}
          {{if .URL}}
          </a>
          {{end}}
        </div>
      </div>
      <div class="card-foot">
        {{if .Published.IsZero}}
          {{.Website}}
        {{else}}
          <p>
            <time datetime="{{isotime .Published}}">{{humantime .Published}}</time> on {{.Website}}
          </p>
        {{end}}
        <p>
          {{range .Tags}}
            <a href="#">#{{.}}</a>
          {{end}}
        </p>
      </div>
    </section>
  {{end}}
</div>
