<div class="card">
  <section>
    {{if .Lead}}
      <div class="card-head">
        <a class="{{cardTextSizeFor "head" .Title}}" href="{{.URL}}">
          {{.Title}}
        </a>
      </div>
      <div class="card-body">
        <div class="{{cardTextSizeFor "body" .Lead}}">
          {{markdownString .Lead}}
        </div>
      </div>
    {{else}}
      <div class="card-body">
        <div>
          <a class="{{cardTextSizeFor "body" .Title}}" href="{{.URL}}">
            {{.Title}}
          </a>
        </div>
      </div>
    {{end}}
    <div class="card-foot">
      <p>
        <time datetime="{{isotime .Published}}">Posted {{humantime .Published}}</time> | {{.Website}}
      </p>
      <p>
        {{range .Tags}}
          <a href="#">#{{.}}</a>
        {{end}}
      </p>
    </div>
  </section>
</div>
