title = "is optional, but title or lead must be present"
lead = "is the lead, or the full post if this is a short post"
published = 2019-03-09

# full text is in the .md file of the same name
# Optionally, if the lead ("micro-post") is in the .md file, then
# full_text must be set to "" explicitly, and lead left out.
#full_text = ""

# a post can be marked as "special" so that it doesn't show in the
# list of posts. That is so posts can be used for special pages such
# as the About page, which may be linked directly, but doesn't show
# up on the index. The name is the key of that special page.
#special = "about"
